<body style="background-color:#000000;">


    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron" style="background-color:MediumSeaGreen;">

        <h1><font color="blue"><b><center>ADMIN PANEL</center></b></font></h1>
        <h2><b><i> <marquee>Nursery Management System </marquee></i></b></h2>




        <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><font color="white">Customer-Table</font></h2>
            <p><a class="btn btn-default" href="/userForRegs">Click here &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><font color="white">Employee-Table</font></h2>
            <p><a class="btn btn-default" href="/employees">Click here &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><font color="white">Supplier-Table</font></h2>
            <p><a class="btn btn-default" href="/suppliers">Click here &raquo;</a></p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <h2><font color="white">Plant-Table</font></h2>
            <p><a class="btn btn-default" href="/plants">Click here &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><font color="white">Order-Table</font></h2>
            <p><a class="btn btn-default" href="">Click here &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><font color="white">Supply-Table</font></h2>
            <p><a class="btn btn-default" href="">Click here &raquo;</a></p>
        </div>

    </div>

   

</body>